DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-FAMILY: tahoma,Arial,Helvetica,sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
h7 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
P {
	MARGIN: 0px
}
HTML {
	OVERFLOW: hidden; HEIGHT: 100%
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../images/body_background.png) #fff repeat-x left -20px; MARGIN: 0px; WIDTH: 100%; COLOR: #222; WORD-BREAK: break-all; LINE-HEIGHT: 150%; FONT-FAMILY: Arial,tahoma,Helvetica,sans-serif; HEIGHT: 100%; TEXT-ALIGN: center
}
A:link {
	COLOR: #42414a; TEXT-DECORATION: none
}
A:visited {
	COLOR: #42414a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999; TEXT-DECORATION: none
}
A:active {
	COLOR: #999; TEXT-DECORATION: none
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.block {
	DISPLAY: block
}
.none {
	DISPLAY: none
}
.red {
	COLOR: #aa2015! important
}
.blue {
	COLOR: #319eef! important
}
.green {
	COLOR: #090! important
}
.strong {
	FONT-WEIGHT: 600! important
}
#IndexTableBody {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
#IndexTableBody THEAD TR {
	HEIGHT: 40px
}
#IndexTableBody THEAD TR TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#IndexTableBody THEAD TR TH A {
	FONT-WEIGHT: 400; COLOR: #fff
}
#IndexTableBody THEAD TR TH A:hover {
	TEXT-DECORATION: underline
}
#IndexTableBody THEAD TR TH DIV#logo {
	BACKGROUND: url(../images/logo.png) no-repeat left top; FLOAT: left; MARGIN: 0px 0px 0px 5px; WIDTH: 180px; TEXT-INDENT: -9999px; HEIGHT: 29px; TEXT-ALIGN: left
}
#IndexTableBody TBODY TR TD.menu {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat -100px top; LEFT: 5px; WIDTH: 200px; POSITION: absolute; TOP: 43px; HEIGHT: 47px
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu LI {
	FLOAT: left
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu LI A {
	DISPLAY: block; WIDTH: 90px; TEXT-INDENT: -9999px; HEIGHT: 36px
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu LI#now01 A {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat 0px 0px; MARGIN: 11px 0px 0px 11px
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu LI#now01 A:hover {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat 0px -36px
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu LI#now02 A {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat 0px -72px; MARGIN: 11px 0px 0px 3px
}
#IndexTableBody TBODY TR TD.menu UL.bigbtu LI#now02 A:hover {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat 0px -108px
}
#IndexTableBody TBODY TR TD.tab {
	HEIGHT: 30px
}
#IndexTableBody TBODY TR TD.tab UL#TabPage1 {
	LEFT: 210px; POSITION: absolute; TOP: 43px
}
#IndexTableBody TBODY TR TD.tab UL#TabPage1 LI {
	BACKGROUND: url(../images/tab.gif) no-repeat left 0px; FLOAT: left; MARGIN: 0px 3px 0px 0px; CURSOR: pointer; COLOR: #fff; LETTER-SPACING: 3px
}
#IndexTableBody TBODY TR TD.tab UL#TabPage1 LI SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/tab.gif) no-repeat right -66px; PADDING-BOTTOM: 5px; PADDING-TOP: 14px
}
#IndexTableBody TBODY TR TD.tab UL#TabPage1 LI.Selected {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; BACKGROUND: url(../images/tab.gif) no-repeat left -33px; COLOR: #000
}
#IndexTableBody TBODY TR TD.tab UL#TabPage1 LI.Selected SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 10px; BACKGROUND: url(../images/tab.gif) no-repeat right -99px; PADDING-BOTTOM: 5px; PADDING-TOP: 12px
}
#IndexTableBody TBODY TR TD.tab UL#TabPage1 LI#Tab3 {
	DISPLAY: none
}
#IndexTableBody TBODY TR TD.t1 {
	VERTICAL-ALIGN: top; WIDTH: 205px
}
#IndexTableBody TBODY TR TD.t1 #contents {
	MARGIN: 0px 0px 0px 5px; OVERFLOW: hidden; HEIGHT: 100%
}
#IndexTableBody TBODY TR TD.t1 #contents TABLE {
	BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t1 {
	VERTICAL-ALIGN: bottom; HEIGHT: 31px
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t1 .menu_top {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat -300px 4px; WIDTH: 200px; HEIGHT: 11px
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 {
	VERTICAL-ALIGN: top
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu {
	BACKGROUND: url(../images/border_bg.png) repeat-y left top; HEIGHT: 100%
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu UL.tabpage2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; Z-INDEX: 10; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: -4px 0px 0px; WIDTH: 21px; PADDING-TOP: 0px; POSITION: relative
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu UL.tabpage2 LI {
	CLEAR: both; BACKGROUND: url(../images/left_tab_Selected.gif) no-repeat -90px bottom; MARGIN: 0px 0px -4px; WIDTH: 28px; CURSOR: pointer; COLOR: #165e92; LINE-HEIGHT: 1.3
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu UL.tabpage2 LI SPAN {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(../images/left_tab_Selected.gif) no-repeat -60px top; PADDING-BOTTOM: 9px; PADDING-TOP: 7px
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu UL.tabpage2 LI.Selected {
	FONT-WEIGHT: 600; BACKGROUND: url(../images/left_tab_Selected.gif) no-repeat -30px bottom; COLOR: #000
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu UL.tabpage2 LI.Selected SPAN {
	BACKGROUND: url(../images/left_tab_Selected.gif) no-repeat 0px top
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t2 .menu .left_menu_cnt {
	MARGIN: 0px 0px 0px 30px
}
#contents DIV.menu .left_menu_cnt UL {
	
}
#contents DIV.menu .left_menu_cnt UL LI {
	DISPLAY: inline
}
#contents DIV.menu .left_menu_cnt UL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; MARGIN: -1px 6px 0px 4px; COLOR: #115888; PADDING-TOP: 5px; BORDER-BOTTOM: #d6eaf6 1px dashed
}
#contents DIV.menu .left_menu_cnt UL LI A:hover {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat -100px -100px; BORDER-BOTTOM: #fff 1px solid
}
#contents DIV.menu .left_menu_cnt UL LI#now23 A {
	HEIGHT: 15px
}
#contents DIV.menu .left_menu_cnt UL LI#now24 A {
	HEIGHT: 15px
}
#contents DIV.menu .left_menu_cnt UL LI A.Selected {
	FONT-WEIGHT: 600; BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat -100px -100px; BORDER-BOTTOM: #fff 1px solid
}
#contents DIV.menu .left_menu_cnt UL LI A.Selected:hover {
	
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t3 {
	VERTICAL-ALIGN: top; HEIGHT: 15px
}
#IndexTableBody TBODY TR TD.t1 #contents TR.t3 .menu_end {
	BACKGROUND: url(../images/Folder_bigbtu.png) no-repeat -500px top; WIDTH: 200px; HEIGHT: 15px
}
#IndexTableBody TBODY TR TD.t2 {
	VERTICAL-ALIGN: top
}
#contents DIV.menu .left_menu_cnt UL LI A SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
 HTML #contents DIV.menu .left_menu_cnt UL LI#now23 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
 HTML #contents DIV.menu .left_menu_cnt UL LI#now24 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
 HTML #now23 A SPAN {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 24px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 3px! important
}
 HTML #now24 A SPAN {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 24px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 3px! important
}
#contents DIV.menu .left_menu_cnt UL LI A SPAN#sdraft_num {
	PADDING-RIGHT: 0px! important; DISPLAY: inline; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
#contents DIV.menu .left_menu_cnt UL LI A SPAN#del_num {
	PADDING-RIGHT: 0px! important; DISPLAY: inline; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
#now11 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left top
}
#now12 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -20px
}
#now13 A SPAN {
	BACKGROUND-POSITION: -150px -40px; BACKGROUND-IMAGE: url(../images/ico.gif); BACKGROUND-REPEAT: no-repeat
}
#now14 A SPAN {
	BACKGROUND-POSITION: -1050px -180px; BACKGROUND-IMAGE: url(../images/ico.gif); BACKGROUND-REPEAT: no-repeat
}
#now15 A SPAN {
	BACKGROUND-POSITION: -1050px -160px; BACKGROUND-IMAGE: url(../images/ico.gif); BACKGROUND-REPEAT: no-repeat
}
#now16 A SPAN {
	BACKGROUND-POSITION: -150px 0px; BACKGROUND-IMAGE: url(../images/ico.gif); BACKGROUND-REPEAT: no-repeat
}
#now17 A SPAN {
	BACKGROUND-POSITION: -1050px -141px; BACKGROUND-IMAGE: url(../images/ico.gif); BACKGROUND-REPEAT: no-repeat
}
#now18 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -140px
}
#now19 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -160px
}
#now1a A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -180px
}
#now1b A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -200px
}
#now1c A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -220px
}
#now1d A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat left -240px
}
#now21 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px top
}
#now22 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -20px
}
#now23 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -40px
}
#now24 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -60px
}
#now25 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -80px
}
#now26 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -100px
}
#now27 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -120px
}
#now28 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -140px
}
#now29 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -150px -160px
}
#now31 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -300px top
}
#now32 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -300px -20px
}
#now33 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -300px -40px
}
#now34 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -300px -60px
}
#now35 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -300px -80px
}
#now36 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -300px -100px
}
#now41 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px top
}
#now42 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -20px
}
#now43 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -40px
}
#now44 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -60px
}
#now45 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -80px
}
#now46 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -100px
}
#now47 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -120px
}
#now48 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -450px -140px
}
#now51 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px top
}
#now52 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -20px
}
#now53 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -40px
}
#now54 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -60px
}
#now55 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -80px
}
#now56 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -100px
}
#now57 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -120px
}
#now58 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -600px -140px
}
#now61 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -750px top
}
#now62 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -750px -20px
}
#now63 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -750px -40px
}
#now64 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -750px -60px
}
#now81 A SPAN {
	BACKGROUND: url(../images/ico.gif) no-repeat -1050px top
}
#contents DIV.menu .left_menu_cnt UL#dleft_tab7 {
	OVERFLOW-Y: auto; LEFT: -3px; OVERFLOW-X: hidden; WIDTH: 159px; POSITION: relative; TOP: 0px; HEIGHT: 100%
}
#contents DIV.menu .left_menu_cnt UL#dleft_tab7 .loading {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/BoxOver_bd.png) #ffffe0 repeat-x left bottom; PADDING-BOTTOM: 10px; COLOR: #f00; PADDING-TOP: 10px; BORDER-BOTTOM: #c3c370 1px solid; TEXT-ALIGN: center
}
#dleft_tab7 LI.isupdate {
	FONT-WEIGHT: 600! important; COLOR: #115888! important
}
#dleft_tab7 LI {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important
}
#dleft_tab7 LI A {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px! important; BORDER-TOP: 0px; PADDING-LEFT: 15px! important; PADDING-BOTTOM: 0px! important; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 135px! important; LINE-HEIGHT: 1.5! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
#dleft_tab7 LI A:hover {
	
}
#dleft_tab7 LI A.Selected {
	
}
#dleft_tab7 LI A.Selected:hover {
	
}
#dleft_tab7 LI.open A {
	BORDER-TOP: #efefef 1px solid; BACKGROUND: url(../images/ico.gif) no-repeat -900px -37px
}
#dleft_tab7 LI.close A {
	BORDER-TOP: #efefef 1px solid; BACKGROUND: url(../images/ico.gif) no-repeat -900px -17px
}
#dleft_tab7 LI#now701 {
	
}
#dleft_tab7 LI#now701 A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 23px! important; BACKGROUND: url(../images/ico.gif) no-repeat -895px 3px; PADDING-BOTTOM: 0px! important; PADDING-TOP: 2px! important
}
#dleft_tab7 LI#now701 A:hover {
	
}
#dleft_tab7 LI#now701 A.Selected {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 23px! important; FONT-WEIGHT: 600! important; BACKGROUND: url(../images/ico.gif) no-repeat -895px 3px; PADDING-BOTTOM: 0px! important; PADDING-TOP: 2px! important; TEXT-DECORATION: underline
}
#dleft_tab7 LI#now701 A.Selected:hover {
	FONT-WEIGHT: 600! important; COLOR: #115888! important; TEXT-DECORATION: none
}
#dleft_tab7 OL.option {
	BACKGROUND: url(../images/user_dleft_tab7.png) #e4f4fc repeat-x left top; OVERFLOW: hidden; HEIGHT: 20px
}
#dleft_tab7 OL.option LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 44px
}
#dleft_tab7 OL.option LI A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 16px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; WIDTH: 44px; PADDING-TOP: 1px! important; HEIGHT: 20px! important
}
#dleft_tab7 OL.option LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
#dleft_tab7 OL.option LI A.Selected {
	BACKGROUND: url(../images/user_setting_title_tab_bg.png) no-repeat 20px top
}
#dleft_tab7 OL.option LI A.Selected:hover {
	BACKGROUND: url(../images/user_setting_title_tab_bg.png) no-repeat 20px top; TEXT-DECORATION: underline
}
#IndexTableBody TBODY TR TD.t2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#IndexTableBody TBODY TR TD.t2 DIV#cnt {
	WIDTH: 100%; HEIGHT: 100%
}
#IndexTableBody TBODY TR TD.t2 DIV#cnt IFRAME {
	BORDER-RIGHT: #1a76b7 1px solid; BORDER-TOP: #1a76b7 1px solid; BORDER-LEFT: #1a76b7 1px solid; WIDTH: 100%; BORDER-BOTTOM: #1a76b7 1px solid; HEIGHT: 100%
}
#IndexTableBody TBODY TR TD.t2 DIV#cnt DIV {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#IndexTableBody TBODY TR TD.t2 DIV#cnt #dTab1 {
	DISPLAY: block
}
#IndexTableBody TBODY TR TD.t2 DIV#cnt #dTab2 {
	DISPLAY: none
}
#IndexTableBody TBODY TR TD.t2 DIV#cnt #dTab3 {
	DISPLAY: none
}
