<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!--           daos          -->
	<bean id="userDao" class="xueji.dao.impl.UserDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="teacherDao" class="xueji.dao.impl.TeacherDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="studentDao" class="xueji.dao.impl.StudentDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="chengjiDao" class="xueji.dao.impl.ChengjiDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
</beans>
